            <h2>Login With Any mail</h2>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary" data-collapsed="0">
                        <div class="panel-body">
                            <form role="form" class="form-horizontal form-groups-bordered">
                                
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-5">
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>