<head>
    <link href="{echo CDN}theme/css/core.css" rel="stylesheet" type="text/css" />
    <link href="{echo CDN}theme/css/components.css" rel="stylesheet" type="text/css" />
    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    <!-- Latest compiled and minified CSS -->
    <style type="text/css">
    .btn-default {
        background-color: white;
    }
    
    .active .tabs {
        color: lightgreen;
    }
    </style>
</head>
<!-- Start content -->
<div class="content">
    <div class="row">
        <div class="col-md-12" style="width: 100%">
            <!-- setting the attribute data-collapsed="1" will collapse the panel -->
            <!-- panel head -->
            <h3 style="float: left; margin-top: -5px; margin-right: 10px">{$dept->name}</h3>
            <ul style="list-style: none; color:red; margin-left: 35%">
                <li style="float: left;" {if $tab !='files' }class="active" {/if}>
                    <a href="#projects" class="tabs" data-toggle="tab">Projects</a>
                </li>
                <li style="float: left; margin-left: 10px">
                    <a href="#tasks" class="tabs" data-toggle="tab">Tasks</a>
                </li>
                <li style="float: left; margin-left: 10px" {if $tab=='files' }class="active" {/if}>
                    <a href="#files" class="tabs" data-toggle="tab">Files</a>
                </li>
            </ul>
            <div class="tab-content" style="border: none">
                <div class="tab-pane {if $tab != 'files'}active{/if}" id="projects">
                    <div style="margin-top: -20px;">
                        <div class="row project-sort pull-right">
                            <div class="project-sort-item" style="margin-right: 10px">
                                <form class="form-inline">
                                    <button type="button" class="create_project btn btn-purple btn-rounded btn-sm w-md waves-effect waves-light" style="margin-right: 10px">Create Project</button>
                                    <div class="form-group">
                                        <label>Phase :</label>
                                        <select class="form-control input-sm" name="phase" onchange="submitform(0,'s')">
                                            <option value="all" {if isset($all)} selected="" {/if}>All Projects ({$c_all})</option>
                                            <option value="completed" {if isset($completed)} selected="" {/if}>Completed ({$c_complete})</option>
                                            <option {if isset($inprogress)} selected="" {/if}>In Progress ({$c_inprogress})</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left: 5px">
                                        <label>Sort :</label>
                                        <select class="form-control input-sm">
                                            <option>Start Date</option>
                                            <option>Due Date</option>
                                            <option>Name</option>
                                        </select>
                                    </div>
                                    <button type="submit" id="s_button0" hidden=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <form method="post">
                            {if $projects} {script $i = 1}{foreach $p in $projects}
                            <div class="col-lg-4">
                                <div class="card-box">
                                    {script $temp = $p->status} {script $status = $temp[0]}
                                    <div class="dropdown pull-right">
                                        <a class="pointer dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false" style="margin-right: -10px; margin-top: 3px;">
                                            <i class="glyphicon glyphicon-option-vertical" style="font-size: 15px"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>
                                                <a class="pointer" onclick="edit_project('{$p->id}')">Edit</a>
                                            </li>
                                            <li>
                                                <a href="/project/tasks/{$p->id}">View Tasks</a>
                                            </li>
                                            <li>
                                                <a href="/project/info/{$p->id}">See Details</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a class="pointer" data-toggle="modal" data-target="#status">Change status</a>
                                            </li>
                                            <li>
                                                <button type="submit" hidden="" name="mark_urgent" value="{$p->id}" id="urgent_button{$i}"></button>
                                                <a class="pointer" onclick="submitform({$i}, 'urgent')">Mark Urgent</a>
                                            </li>
                                            {if $status != 'completed'}
                                            <li>
                                                <button type="submit" hidden="" name="mark_complete" value="{$p->id}" id="complete_button{$i}"></button>
                                                <a class="pointer" onclick="submitform({$i}, 'complete')">Mark Complete</a>
                                            </li>
                                            {/if}{else}
                                            <li>
                                                <button type="submit" hidden="" name="mark_incomplete" value="{$p->id}" id="incomplete_button{$i}"></button>
                                                <a class="pointer" onclick="submitform({$i}, 'incomplete')">Mark Incomplete</a>
                                            </li>
                                            {/else}
                                            <li class="divider"></li>
                                            <li>
                                                <button type="submit" hidden="" name="delete" value="{$p->id}" id="delete_button{$i}"></button>
                                                <a class="pointer" onclick="submitform({$i}, 'delete')"> Delete </a>
                                            </li>
                                        </ul>
                                    </div>
                                    {if $status == 'urgent'}
                                    <div class="label label-danger pull-right">Urgent</div>
                                    {/if} {if $status == 'completed'}
                                    <div class="label label-success pull-right">Complete</div>
                                    {/if}
                                    <h4 class="m-t-0 m-b-5">
                                        <a href="/project/info/{$p->id}" class="text-inverse">{echo ucfirst($p->name)}</a>
                                    </h4>
                                    <p class="text-muted font-13" style="margin-top: 15px; margin-bottom: -10px; height: 40px">
                                        {echo substr($p->details, 0 , 80)}{if $p->details}...{/if}
                                    </p>
                                    <ul class="list-inline">
                                        <li>
                                            <h3 class="m-b-0">0</h3>
                                            <p class="text-muted">Comments</p>
                                        </li>
                                        {if $p->due_date}
                                        <li style="margin-left: 10px">
                                            <h3 class="m-b-0">{$p->due_date->format('Y-M-d')}</h3>
                                            <p class="text-muted">Due Date</p>
                                        </li>
                                        {/if}
                                    </ul>
                                    <div class="project-members m-b-20">
                                        <span class="m-r-5 font-600">Team :</span>
                                        <a class="pointer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme">
                                            {foreach $t in $p->team} {script $temp = models\User::first(['id' => $t])}
                                            <img src="{echo CDN}uploads/profile/{$temp->profile}" class="img-circle thumb-sm" alt="friend" /> {/foreach}
                                        </a>
                                    </div>
                                    <p class="font-600 m-b-5">Progress
                                        <span class="text-success pull-right">{$p->progress}%</span>
                                    </p>
                                    <div class="progress progress-bar-success-alt progress-sm m-b-5">
                                        <div class="progress-bar progress-bar-success progress-animated wow animated animated" role="progressbar" aria-valuenow="{$p->progress}" aria-valuemin="0" aria-valuemax="100" style="width: {$p->progress}%; visibility: visible; animation-name: animationProgress;">
                                        </div>
                                        <!-- /.progress-bar .progress-bar-danger -->
                                    </div>
                                    <!-- /.progress .no-rounded -->
                                </div>
                            </div>
                            {script $i++} {/foreach} {/if} {else} No project yet {/else}
                        </form>
                        <!-- end col-->
                    </div>
                </div>
                <div class="tab-pane" id="tasks">
                    <div style="margin-top: -20px;">
                        <div class="row project-sort pull-right">
                            <div class="project-sort-item" style="margin-right: 10px">
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="50%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="padding-lg">
                                            <div class="list-group">
                                                <a class="pointer list-group-item">
                                                    <span class="badge badge-primary">5</span>
                                                    Cras justo odio
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane {if $tab == 'files'}active{/if}" id="files">
                    <div style="margin-top: -20px;">
                        <div class="row project-sort pull-right">
                            <div class="project-sort-item" style="margin-right: 10px">
                                <form class="form-inline">
                                    <button type="button" data-toggle="modal" data-target="#upload" class="btn btn-purple btn-rounded btn-sm w-md waves-effect waves-light" style="margin-right: 10px">Upload</button>
                                    <button type="button" data-toggle="modal" data-target="#createfolder" class="btn btn-purple btn-rounded btn-sm w-md waves-effect waves-light" style="margin-right: 10px">Create New Folder</button>
                                    <div class="form-group">
                                        <label>Action :</label>
                                        <select class="form-control input-sm">
                                            <option>All Projects(6)</option>
                                            <option>Complated</option>
                                            <option>In Progress</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="50%">Home folder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="padding-lg">
                                            <div class="list-group">
                                                {script $flag = 0}
                                                {if $home_folders} {script $flag = 1}{foreach $f in $home_folders}
                                                <a class="pointer list-group-item entypo-folder">
                                                    <span class="badge badge-primary">0</span>
                                                    {$f->name}
                                                </a>
                                                {/foreach} {/if}
                                                {if $home_files} {script $flag = 1}{foreach $f in $home_files}
                                                <a class="pointer list-group-item">
                                                    <i class="fa fa-file-text" style="margin-left: 2px"></i>
                                                    <span style="margin-left: 3px">{$f->name}</span>
                                                </a>
                                                {/foreach} {/if}
                                                {if $flag == 0}
                                                <a class="list-group-item">
                                                    No files yet
                                                </a>
                                                {/if}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- container -->
<!-- Modal -->
<div class="modal fade" id="create_project" aria-labelledby="myModalLabel" style="z-index:1011">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="project_label">Create Project</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
                <input type="hidden" name="token" value="{echo $__token}">
                <input type="hidden" name="edit_project_id" id="edit_project_id">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name:</label>
                        <div class="col-sm-6">
                            <input type="name" class="form-control" name="name" id="p_name" placeholder="Project Name" required="" style="width:220px">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Assignees:</label>
                        <div class="col-sm-6">
                            <select name="team[]" class="selectpicker" id="p_team" title="Choose..." required="" multiple="">
                                {foreach $m in $members}
                                <option value="{$m->id}" selected="">{$m->full_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Head:</label>
                        <div class="col-sm-6">
                            <select name="head" class="selectpicker" id="p_head" required="" title="Select Team Head...">
                                {foreach $m in $members}
                                <option value="{$m->id}">{$m->full_name}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Details:</label>
                        <div class="col-sm-6">
                            <textarea name="details" id="p_details" class="form-control" style="resize: none" placeholder="Details of the project..."></textarea>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Due Date:</label>
                        <div class="col-sm-6">
                            <input type="text" id="p_duedate" name="due_date" class="form-control datepicker add-ranges" data-format="yyyy-mm-dd" id="date" style="z-index: 1000" placeholder="Due Date...">
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Type:</label>
                        <div class="col-sm-6">
                            <select name="status" class="selectpicker" id="p_type" required="">
                                <option>Normal</option>
                                <option>Urgent</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Attach Files:</label>
                        <div class="col-sm-5">
                            <input type="file" id="p_type" name="files" class="form-control file2 inline btn btn-primary" multiple="1" data-label="<i class='glyphicon glyphicon-circle-arrow-up'></i> &nbsp;Browse Files" />
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="create_project" class="btn btn-success" id="p_button">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="upload" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Upload a file</h4>
            </div>
            <div class="modal-body" style="height: 300px">
                <form method="post" enctype="multipart/form-data" style="margin-top: 50px">
                    <input type="hidden" name="token" value="{echo $__token}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Multiple files</label>
                        <div class="col-sm-5">
                            <input type="file" name="file_upload[]" class="form-control file2 inline btn btn-primary" multiple="1" data-label="<i class='glyphicon glyphicon-circle-arrow-up'></i> &nbsp;Browse Files" /> </div>
                            <button type="submit" name="action" value="upload" class="btn btn-success">Upload</button>
                    </div>
                </form>
                <hr style="margin-top: 50px">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="token" value="{echo $__token}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Upload all files within a folder</label>
                        <div class="col-sm-5">
                            <input type="file" name="file_upload[]" webkitdirectory="" directory="" class="form-control file2 inline btn btn-primary" multiple="1" data-label="<i class='glyphicon glyphicon-circle-arrow-up'></i> &nbsp;Browse Files" /> </div>
                            <button type="submit" name="action" value="upload" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createfolder" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create New Folder</h4>
            </div>
            <form method="post">
                <div class="modal-body" style="height: 80px">
                    <input type="hidden" name="token" value="{echo $__token}">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Folder Name</label>
                        <div class="col-sm-5">
                            <input type="text" name="name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="create_folder" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="create_task" aria-labelledby="myModalLabel" style="padding-top: 200px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create Task</h4>
            </div>
            <form method="post">
                <input type="hidden" name="token" value="{echo $__token}">
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="create_project" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="status" aria-labelledby="myModalLabel" style="padding-top: 100px; padding-left: 50px">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Progress</h4>
            </div>
            <form method="post">
                <input type="hidden" name="token" value="{echo $__token}">
                <div class="modal-body" style="height: 60px">
                    <div class="form-group" style="margin-left: 10px; margin-top: 10px">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <div class="slider" data-postfix="%" data-min="0" data-max="100" data-value="23" data-fill="#sample-field"></div>
                            <input type="hidden" class="form-control" id="sample-field" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="action" value="create_project" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<script src="{echo CDN}js/select2/select2.min.js" id="script-resource-8"></script>
<script type="text/javascript">
function submitform(a, b) {
    $('#' + b + '_button' + a).click();
}
jQuery(document).ready(function($) {
    $('#date').datepicker({
        format: "D, dd MM yyyy",
        autoclose: true
    });
});
</script>
