        <!--calendar css-->
        <link href="{echo CDN}plugins/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="row">
                                	<div class="col-md-3">
                                        <div class="widget">
                                            <div class="widget-body">
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <a href="calendar.html#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-success btn-block waves-effect waves-light">
                                                            <i class="fa fa-plus"></i> Create New
                                                        </a>
                                                        <div id="external-events" class="m-t-20">
                                                            <br>
                                                            <p>Drag and drop your event or click in the calendar</p>
                                                            <div class="external-event bg-primary" data-class="bg-primary">
                                                                <i class="fa fa-move"></i>New Theme Release
                                                            </div>
                                                            <div class="external-event bg-pink" data-class="bg-pink">
                                                                <i class="fa fa-move"></i>My Event
                                                            </div>
                                                            <div class="external-event bg-warning" data-class="bg-warning">
                                                                <i class="fa fa-move"></i>Meet manager
                                                            </div>
                                                            <div class="external-event bg-purple" data-class="bg-purple">
                                                                <i class="fa fa-move"></i>Create New theme
                                                            </div>
                                                        </div>

                                                        <!-- checkbox -->
                                                        <div class="checkbox m-t-40">
                                                            <input id="drop-remove" type="checkbox">
                                                            <label for="drop-remove">
                                                                Remove after drop
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> <!-- end col-->
                                    <div class="col-md-9">
                                        <div class="card-box">
                                            <div id="calendar"></div>
                                        </div>
                                    </div> <!-- end col -->
                                </div>  <!-- end row -->

                                <!-- BEGIN MODAL -->
                                <div class="modal fade none-border" id="event-modal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Add New Event</strong></h4>
                                            </div>
                                            <div class="modal-body"></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                                                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Add Category -->
                                <div class="modal fade none-border" id="add-category">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title"><strong>Add a category </strong></h4>
                                            </div>
                                            <div class="modal-body">
                                                <form role="form">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <label class="control-label">Category Name</label>
                                                            <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name"/>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="control-label">Choose Category Color</label>
                                                            <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                                                <option value="success">Success</option>
                                                                <option value="danger">Danger</option>
                                                                <option value="info">Info</option>
                                                                <option value="pink">Pink</option>
                                                                <option value="primary">Primary</option>
                                                                <option value="warning">Warning</option>
                                                                <option value="inverse">Inverse</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END MODAL -->
                            </div>
                            <!-- end col-12 -->
                        </div> <!-- end row -->


                    </div> <!-- container -->

                </div> <!-- content -->
<div class="calendar-env">
    <!-- Calendar Body -->
    <div class="calendar-body">
        <div id="calendar"></div>
    </div>
    <!-- Sidebar -->
    <div class="calendar-sidebar">
        <!-- new task form -->
        <div class="calendar-sidebar-row">
            <form role="form" id="add_event_form">
                <div class="input-group minimal">
                    <input type="text" class="form-control" placeholder="Add event..." />
                    <div class="input-group-addon">
                        <i class="entypo-pencil"></i>
                    </div>
                </div>
            </form>
        </div>
        <!-- Events List -->
        <ul class="events-list" id="draggable_events">
            <li>
                <p>Drag Events to Calendar Dates</p>
            </li>
            <li>
                <a href="index#" data-event='{"title":"Sport Match", "color":""}' >Sport Match</a>
            </li>
            <li>
                <a href="index#" class="color-blue" data-event='{"title":"Meeting", "color":"blue"}'>Meeting</a>
            </li>
            <li>
                <a href="index#" class="color-orange" data-event='{"title":"Relax", "color":"orange"}'>Relax</a>
            </li>
            <li>
                <a href="index#" class="color-primary" data-event='{"title":"Study", "color":"primary"}'>Study</a>
            </li>
            <li>
                <a href="index#" class="color-green" data-event='{"title":"Family Time", "color":"green"}'>Family Time</a>
            </li>
        </ul>
    </div>
</div>
<hr />
  <!-- Imported styles on this page -->
    <link rel="stylesheet" href="{echo CDN}js/fullcalendar-2/fullcalendar.min.css" id="style-resource-1">
    <script src="{echo CDN}js/moment.min.js" id="script-resource-8"></script>
    <script src="{echo CDN}js/fullcalendar-2/fullcalendar.min.js" id="script-resource-9"></script>
    <script src="{echo CDN}js/neon-calendar-2.js" id="script-resource-10"></script>
    <script type="text/javascript">

        $('#calendar').fullCalendar({
            events: [
                {
                    title  : 'event1',
                    start  : '2016-08-08',
                },
                {
                    title  : 'event2',
                    start  : '2016-08-08',
                    end    : '2016-08-10',
                },
                {
                    title  : 'event3',
                    start  : '2016-08-19T12:30:00',
                }
            ],

            droppable: true,

            editable: true,

            drop: function( date, jsEvent, ui, resourceId ) { 

                var obj = JSON.parse(this.getAttribute("data-event"));

                var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

                if (month.length < 2) month = '0' + month;
                if (day.length < 2) day = '0' + day;

                var date2 =  [year, month, day].join('-');


            },
            
            eventDrop: function(event, delta, revertFunc) {

                alert('hello');

            }
        });

    </script>
</div>
