<div class="profile-env">
    <header class="row">
        <div class="col-sm-2">
            <a href="index#" class="profile-picture">
                {if empty($user->logo_ext)}
                    <img src="{echo CDN}uploads/logo/{$user->id}.{$user->logo_ext}" class="img-responsive img-circle" style="width:130px; height: 130px" alt="" /> 
                {/if}
                {else}
                    <img src="{echo CDN}images/logo@2x.png" width="120" alt="" />
                {/else}
             </a>
        </div>
        <div class="col-sm-7">
            <ul class="profile-info-sections">
                <li>
                    <div class="profile-name">
                        <strong>
                            {script $name = ucfirst($user->full_name)}
                            <a href="index#">{$name}</a>
                            <a href="index#" class="user-status is-online tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Online"></a>
                        </strong>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="profile-info-tabs">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="user-details">
                    <li>
                        <a href="index#">
                            <i class="entypo-location"></i>
                            {if $user->address && $user->state}
                                {$user->address}, {$user->state}
                            {/if}
                            {else}
                                {if $user->address}
                                    {$user->address}
                                {/if}
                                {else}
                                    {if $user->state}
                                        {$user->state}
                                    {/if}
                                    {else}

                                        No Address

                                    {/else}

                                {/else}
                            {/else}
                        </a>
                    </li>
                    <li>
                        <a href="index#">
                            <i class="entypo-suitcase"></i>
                            {if $user->designation} Works as
                            <span>{$user->designation}</span> {/if}{else} Employee{/else}
                        </a>
                    </li>
                </ul>
                <!-- tabs for the profile links -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {if $cp== 1} class="active" {/if}>
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <li role="presentation" {if $cp == 2} class="active" {/if}>
                        <a href="#changepassword" aria-controls="changepassword" role="tab" data-toggle="tab">Change Password</a>
                    </li>
                    <li role="presentation" {if $cp == 3} class="active" {/if}>
                        <a href="#invoice" aria-controls="invoice" role="tab" data-toggle="tab">Invoice settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {if $cp == 1} active {/if}" id="profile">
            {if isset($update_success) && $update_success == 1}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Profile Updated
                <strong>Successfully!</strong>
            </div>
            {/if} {if isset($validation) && $validation == 1}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Entries Not filled Properly
            </div>
            {/if} {if isset($exist) && $exist == 1}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Email Already Exists
            </div>
            {/if}
            <form action="/users/profile" class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <sup style="color:red">*</sup> Full Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="full_name" value="{$user->full_name}" placeholder="Full Name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <sup style="color:red">*</sup> Email</label>
                    <div class="col-sm-5">
                        <input type="email" name="email" class="form-control" value="{$user->email}" placeholder="Email" required="">
                    </div>
                </div>
                
                {if $user->tmp_email}
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Change Email</label>
                    <div class="col-sm-5" style="margin-top:5px">
                        {$user->tmp_email}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="change_email"> <span style="color:red">Delete Request</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3" style="margin-top:5px">
                        <i class="entypo-cancel" style="color:red"></i> Not Confirmed
                    </div>
                </div>
                {/if}

                 <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <sup style="color:red">*</sup> Mobile Number</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" name="mobile" value="{$user->mobile}" placeholder="Mobile Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Designation</label>
                    <div class="col-sm-5">
                        <select name="designation" class="form-control">
                            <option value="">Select</option>
                            <option {if $user->designation == "Businessman"} selected {/if}>Businessman</option>
                            <option {if $user->designation == "Co-Founder"} selected {/if}>Co-Founder</option>
                            <option {if $user->designation == "Founder"} selected {/if} >Founder</option>
                            <option {if $user->designation == "Intern"} selected {/if}>Intern</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Comapny Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="company_name" value="{$user->company_name}" placeholder="Company">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">State</label>
                    <div class="col-sm-5">
                        <select name="state" class="form-control">
                            <option value="">Select</option>
                            {foreach $s in $state}
                                <option {if $user->state == $s->name} selected {/if}>{$s->name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">address</label>
                    <div class="col-sm-5">
                        <textarea rows="3" style="resize: none" class="form-control" name="address" placeholder="Address">{$user->address}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="profile_update" value="update" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane {if $cp == 2} active {/if}" id="changepassword">
            {if isset($message)}
            <div class="alert {if isset($cp_success)} alert-success {/if}{else} alert-danger {/else} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {$message}
                
            </div>
            {/if}
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Old Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="old" class="form-control" placeholder="Old Password" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="new" class="form-control" placeholder="New Password" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="change_password" value="change" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane {if $cp == 3} active {/if}" id="invoice">
            {if isset($invoice_success)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Settings Saved
                <strong>Successfully!</strong>
            </div>
            {/if}
            <form class="form-horizontal" method="post" enctype= multipart/form-data>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Comapny Logo</label>
                    <div class="col-sm-5">
                        <input type="file" name="logo" class="form-control" required>
                        (Allowed extensions are jpg, jpeg, png and allowed size is 5MB)
                    </div>
                    {if !empty($user->logo_ext)}
                        <img src="{echo CDN}uploads/logo/{$user->id}.{$user->logo_ext}">
                    {/if}
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Invoice theme</label>
                    <div class="col-sm-5">
                        <button class="btn btn-info">Select</button>
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="update_invoice_setting" value="update" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>