<div class="profile-env">
    <header class="row">
        <div class="col-sm-2">
            <a href="index#" class="profile-picture">
                {if !empty($user->logo_ext)}
                    <img src="{echo CDN}uploads/logo/{$user->id}.{$user->logo_ext}" class="img-responsive img-circle" style="width:130px; height: 130px" alt="" /> 
                {/if}
                {else}
                    <img src="{echo CDN}images/anonymous.png" width="120" alt="" />
                {/else}
             </a>
        </div>
        <div class="col-sm-7">
            <ul class="profile-info-sections">
                <li>
                    <div class="profile-name">
                        <strong>
                            {script $name = ucfirst($user->full_name)}
                            <a href="index#">{$name}</a>
                            <a href="index#" class="user-status is-online tooltip-primary" data-toggle="tooltip" data-placement="top" data-original-title="Online"></a>
                        </strong>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <section class="profile-info-tabs">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-10">
                <ul class="user-details">
                    <li>
                        <a href="index#">
                            <i class="entypo-location"></i>
                           
                        </a>
                    </li>
                    <li>
                        <a href="index#">
                            <i class="entypo-suitcase"></i>
                            
                        </a>
                    </li>
                </ul>
                <!-- tabs for the profile links -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" {if $cp== 1} class="active" {/if}>
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a>
                    </li>
                    <li role="presentation" {if $cp == 2} class="active" {/if}>
                        <a href="#changepassword" aria-controls="changepassword" role="tab" data-toggle="tab">Change Password</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane {if $cp == 1} active {/if}" id="profile">
            {if isset($update_success) && $update_success == 1}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Profile Updated
                <strong>Successfully!</strong>
            </div>
            {/if} {if isset($validation) && $validation == 1}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Entries Not filled Properly
            </div>
            {/if} {if isset($exist) && $exist == 1}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                Email Already Exists
            </div>
            {/if}
            <form action="/users/profile" class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <sup style="color:red">*</sup> Full Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="full_name" value="{$user->full_name}" placeholder="Full Name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <sup style="color:red">*</sup> Email</label>
                    <div class="col-sm-5">
                        {$user->email}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        <sup style="color:red">*</sup> Mobile Number</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" name="mobile" value="{$user->mobile}" placeholder="Mobile Number">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="status" value="{$user->status}" placeholder="Status">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="profile_update" value="update" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane {if $cp == 2} active {/if}" id="changepassword">
            {if isset($message)}
            <div class="alert {if isset($cp_success)} alert-success {/if}{else} alert-danger {/else} alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {$message}
                
            </div>
            {/if}
            <form class="form-horizontal" method="post">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Old Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="old" class="form-control" placeholder="Old Password" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="new" class="form-control" placeholder="New Password" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Confirm Password</label>
                    <div class="col-sm-5">
                        <input type="password" name="confirm" class="form-control" placeholder="Confirm Password" required="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" name="change_password" value="change" class="btn btn-success">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>